<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
  <body>
    <h2>Welcome to my test webserver!</h2>
    <h3>Today we will be covering the following topics:</h3>
    <ol>
      <li>Routes</li>
      <li>Requests</li>
    </ol>

    <h3>Routes</h3>
    <p>A route is a url path that follows the address, for example:</p>
    <a href="/route">/route</a>
    <p>
      We can use these routes to represent different pages as well as
      entry points to perform tasks.
    </p>
    <p>
      <b>Note:</b> the main page (the one we are on right now) with no route is
      called the index route and is represented by '/' also known as the 'root'.
    </p>

    <p>
      Now that we understand routes the rest of the topics will be explained on
      different pages which we can view by going to their corresponding route
    </p>
    <ol>
      <li><a href="/requests">Requests</a></li>
      <li><a href="/login">Login example</a></li>
    </ol>
  </body>
</html>
